body{
    margin: 0;
}
.container-1 {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    width: auto;
    margin-bottom: 50px;
    
}

.container-2 {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    
}

.title{
    text-align: center;
}

.container-3 {
    background-color: lightgray;
}

ul{
    display: flex;
    list-style: none;
}

li {
    margin: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;

   
}

.beginning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.image {
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.title {
    margin-left: 32px;
}

.seasons {
    display: flex;
    gap: 80px;
 
}

.info {
    text-align: center;
}





