body{
    margin: 0;
}
.container-1 {
    padding-left: 200px;
    padding-right: 250px;
    background-color: #1F2937;
    width: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    gap: 50px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 10px;

   
}

.text {
    width: 600px;
    font-family: "Industry","sans-serif";
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    
}


.container-2 {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    
}

.title{
    text-align: center;
}

.container-3 {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    font-family: 'Normative Pro', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

li {
    margin: 8px;
}

.header{
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2c32
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.title {
    margin-left: 32px;
}

.seasons {
    display: flex;
    gap: 80px;
 
}

.info {
    text-align: center;
}


.container-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 100px;
    margin: 20px;
}





