body{
    margin: 0;
}
.container-1 {
    padding-left: 200px;
    padding-right: 250px;
    background-color: #1F2937;
    width: auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    gap: 50px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 10px;

   
}

.text {
    width: 600px;
    font-family: "Segoe UI","Arial","sans-serif";
    font-size: 18px;
    line-height: 22px;
    color: #b4b4b4;
    
}

h1 {
    font-family: "Industry","sans-serif";
    font-weight: 350;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: .25em;
    color: #fff;
    margin-bottom: -5px;
}


.container-2 {
    padding-left: 40px;
    padding-right: 40px;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    font-family: "Industry","sans-serif";
    font-weight: 350;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: .25em;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 30px;
}

.container-2, .title{
    background-color: rgba(8, 6, 6, 0.815);
}

.container-3 {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    font-family: 'Normative Pro', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

li {
    margin: 8px;
}

.header{
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2c32
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}


.seasons {
    display: flex;
    gap: 80px;
 
}

.info {
    text-align: center;
    display: flex;
}


.container-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 100px;
    margin: 20px;
}

.description {
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
    line-height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;

}





